.further-form {
  display: none;
}

#appCard {
  display:none;
}

#appimage {
  height:500px;
  width:100%;
}
.card-title {
  font-weight:bold;
}
#appdev {
  font-weight:bold;
}
#errormessage {
  display:none;
}

#appfurtherdesc {display: none;}

.fake-link {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

.class-text{
  
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border: none;
  &:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4);
  }
  a {
    color: initial;
    &:hover {
      text-decoration: initial;
    }
  }
  .text-muted i {
    margin: 0 10px;
  }
}
